@charset "utf-8";
*{font-family:Verdana;
	font-size:14px;
}
/* CSS Document */

form label.error, label.error {color: red;font-style: italic}


.servicios{
	color: #000;}

.titulo{
	font-weight:bold;
	font-variant:small-caps;
	font-size:16px;
	margin-bottom:10px;

}

.subtitulo{
	background-color: #CCC;
}


.mininota{
	font-size: 11px;	
	}

table{
	border-spacing:5px;
	border:hidden;}

input,textarea{
	border:1px solid #CCC;
	padding:5px;}

form .submit {
	background-color:#F90;
	color: #333;
	width: 100%;
	font-weight:bold;
	padding:0.7em;}

hr{
	border-color:#Ccc;}
	
#divContiguo{
    padding:10px 10px 10px 10px;
    width:auto;
    display:inline-block;
}

.nota{
	font-size:12px;
	color:#f50;
	}
