body, html {
	margin: 0;
	font-family: Calibri, Helvetica, Arial, sans-serif;
}

div.descripcion {
	padding: 0 5pt;
	border: 0.5pt solid #000000;
}

div.descripcion p {
	font-size: 8pt;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table th {
	padding: 5pt 2pt; 
	background-color: #c0e6f8;
	border: 0.5pt solid #080808;
	font-size: 7pt;
	font-weight: normal;
	text-align: center;
}

table td {
	padding: 3pt 2pt;
	border: 0.5pt solid #080808;
	font-size: 9pt;
}

table td.izq {
	text-align: left;
}

table td.centrado {
	padding: 3pt 0;
	text-align: center;
}

table td.sin-borde {
	border: none;
}

table.evaluacion th {
	padding: 3pt 0;
	background-color: #1272A0;
	color: #FFFFFF;
}

table.evaluacion td {
	padding: 0;
	font-size: 7pt;
}

table.evaluacion tr td table {
	border-collapse: separate;
	border-spacing: 3pt;
}

table.evaluacion tr td table td {
	border: none;
	font-size: 7pt;
	text-align: right;
}

table.evaluacion tr td table td.casilla {
	width: 20pt;
	border: 1pt solid #000000;
}

table.servicio {
	display: inline-block;
	margin-right: 5pt;	
}

table.servicio th {
	background-color: #1272A0;
	color: #FFFFFF;	
}

table.servicio tr td table {
	border-collapse: separate;
	border-spacing: 3pt;
}

table.servicio tr td table td {
	border: none;
	font-size: 8pt;
}

table.servicio tr td table td.casilla {
	width: 20pt;
	border: 1pt solid #000000;
}

.columna-1 {
	float: left;
	width: 63%;
	font-size: 9pt;
}

.columna-2 {
	float: right;
	width: 34%;
	font-size: 9pt;
}

.columna-3 {
	float: left;
	width: 48%;
	font-size: 8pt;
}

.columna-4 {
	float: right;
	width: 48%;
	font-size: 8pt;
	border: 1pt solid #1272A0;
}

.fecha-liberacion {
	margin-bottom: 35pt;
}

.firma {
	width: 48%;
	text-align: center;
}

.firma1 {
	float: left;
}

.firma1 .nombre {
	margin-top: 30pt;
	margin-bottom: 0;
	border-top: 1pt solid #000000;
}

.firma2 {
	float: right;
}

.firma2 .nombre {
	margin-top: 40.5pt;
	margin-bottom: 0;
	border-top: 1pt solid #000000;
}

.header {
	position: relative;
	font-size: 10pt;
}

.header table td {
	text-align: center;
	border: none;
}

.header td p {
	margin: 0;
}

.footer {
	font-size: 8pt;
	text-align: right;
}

.margen-izquierdo {
	margin-left: 10pt;
}

.nota {
	position: absolute;
	bottom: 30pt;
	font-size: 9pt;
	color: #080808;
}

.subtitulo {
	font-size: 8pt;
	font-weight: bold;
}

.titulo {
	margin: 0;
	padding: 3pt 0;
	background-color: #1272A0;
	font-size: 7pt;
	color: #FFFFFF;
	text-align: center;
}