body, html {
	margin: 0;
	font-family: Calibri, Helvetica, Arial, sans-serif;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table th {
	padding: 5pt 2pt; 
	background-color: #c0e6f8;
	border: 0.5pt solid #080808;
	font-size: 7pt;
	font-weight: normal;
	text-align: center;
}

table td {
	padding: 3pt 2pt;
	border: 0.5pt solid #080808;
	font-size: 9pt;
}

table td.izq {
	text-align: left;
}

table.servicio th {
	background-color: #1272A0;
	color: #FFFFFF;	
}

table.servicio tr td table {
	border-collapse: separate;
	border-spacing: 3pt;
}

table.servicio tr td table td {
	border: none;
	font-size: 8pt;
}

table.servicio tr td table td.casilla {
	width: 20pt;
	border: 1pt solid #000000;
}

table.servicio-1 {
	width: 24%;
}

.columna-1 {
	float: left;
	width: 63%;
	font-size: 9pt;
}

.columna-2 {
	float: right;
	width: 34%;
	font-size: 9pt;
}

.header {
	position: relative;
	font-size: 10pt;
}

.header table td {
	text-align: center;
	border: none;
}

.header td p {
	margin: 0;
}

.footer {
	font-size: 8pt;
	text-align: right;
}

.nota {
	position: absolute;
	bottom: 30pt;
	font-size: 9pt;
	color: #080808;
}